{% extends 'base.html.twig' %}
{% block body %}
    <h1>
        {% if new %}
            {{ 'form.title.add'|trans }}
        {% else %}
            {{ 'form.title.edit'|trans }}
        {% endif %}
    </h1>
    {{ form_start(form) }}

    {{ form_row(form.title, {'attr': {'novalidate': 'novalidate'}}) }}
    <hr>
    {{ form_row(form.author) }}
    <hr>
    {{ form_row(form.readDate) }}
    <hr>
    {{ form_row(form.isDownloadAllowed) }}
    <hr>
    {% if form.vars.value.cover %}
        <img src="{{ upload_dir ~ form.vars.value.cover }}">
        {% if form.deleteCover is defined %}
            {{ form_row(form.deleteCover) }}
        {% endif %}
    {% endif %}
    {{ form_row(form.coverFile) }}
    <hr>
    {% if form.vars.value.source %}
        <a href="{{ upload_dir ~ form.vars.value.source }}"> {{ 'book.source.link'|trans }} </a>
        {% if form.deleteSource is defined %}
            {{ form_row(form.deleteSource) }}
        {% endif %}
    {% endif %}
    {{ form_row(form.sourceFile) }}
    <hr>
    {{ form_end(form) }}
{% endblock %}