{% extends 'base.html.twig' %}
{% block title %}
    {{ 'project.name'|trans }}
{% endblock %}
{% block body %}
    <h1>{{ 'project.name'|trans }}</h1>

    {% if is_granted('ROLE_USER') %}
        <a href="{{ path("create") }}">{{ 'book.add.link'|trans }}</a>
    {% endif %}

    {% for book in books %}
        <div id="book-{{ book.id }}">
            <p>
                {{ book.author }}. {{ book.title }}
                {% if book.isDownloadAllowed and book.source %}
                    <a href="{{ upload_dir ~ book.source }}" target="_blank">{{ 'book.download.link'|trans }}</a>
                {% endif %}

                {% if is_granted('ROLE_USER') %}
                    <a href="{{ path("edit", {"id": book.id}) }}">{{ 'book.edit.link'|trans }}</a>
                {% endif %}

                {% if is_granted('ROLE_USER') %}
                    <a class="book-delete-link" href="{{ path('delete', {'id' : book.id}) }}" data-book-id="{{ book.id }}">
                        {{ 'book.delete.link'|trans }}
                    </a>
                {% endif %}
            </p>
            {% if book.cover %}
                {{ (upload_dir ~ book.cover)|resize_image(200, 300) }}
            {% else %}
                {{ (upload_dir ~ 'default.gif')|resize_image(200, 200) }}
            {% endif %}
        </div>
        <hr>
    {% endfor %}
{% endblock %}

{% block javascript %}
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" type="text/javascript"></script>
    <script type="text/javascript">
        $(function() {
            $('.book-delete-link').on("click", function (e) {
                var id = $(this).data('book-id');
                $.post($(this).attr('href'), function (result) {
                        if (result.status === "ok") {
                            $('#book-' + id).hide();
                        }
                    }
                );
                e.preventDefault();
            });
        });
    </script>
{% endblock %}